AstralBlink/App_WebReferences/CreditCardWS/CreditCardWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CVV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="first" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="last" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckCardResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeTotalPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TPrice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeTotalPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChargeTotalPriceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCardSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCard" />
  </wsdl:message>
  <wsdl:message name="CheckCardSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCardResponse" />
  </wsdl:message>
  <wsdl:message name="ChargeTotalPriceSoapIn">
    <wsdl:part name="parameters" element="tns:ChargeTotalPrice" />
  </wsdl:message>
  <wsdl:message name="ChargeTotalPriceSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeTotalPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCardWSSoap">
    <wsdl:operation name="CheckCard">
      <wsdl:input message="tns:CheckCardSoapIn" />
      <wsdl:output message="tns:CheckCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChargeTotalPrice">
      <wsdl:input message="tns:ChargeTotalPriceSoapIn" />
      <wsdl:output message="tns:ChargeTotalPriceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardWSSoap" type="tns:CreditCardWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCard">
      <soap:operation soapAction="http://tempuri.org/CheckCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeTotalPrice">
      <soap:operation soapAction="http://tempuri.org/ChargeTotalPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCardWSSoap12" type="tns:CreditCardWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCard">
      <soap12:operation soapAction="http://tempuri.org/CheckCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargeTotalPrice">
      <soap12:operation soapAction="http://tempuri.org/ChargeTotalPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardWS">
    <wsdl:port name="CreditCardWSSoap" binding="tns:CreditCardWSSoap">
      <soap:address location="http://localhost:52474/CreditCardWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCardWSSoap12" binding="tns:CreditCardWSSoap12">
      <soap12:address location="http://localhost:52474/CreditCardWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>